Source: ros-noetic-pddl-planner
Section: misc
Priority: optional
Maintainer: Ryohei Ueda <ueda@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-catkin, ros-noetic-pddl-msgs, ros-noetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-pddl-planner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-downward, ros-noetic-ff, ros-noetic-ffha, ros-noetic-lpg-planner, ros-noetic-pddl-msgs, ros-noetic-rospy, time
Description: pddl planner wrappers
