Source: ros-kinetic-pddl-planner
Section: misc
Priority: extra
Maintainer: Ryohei Ueda <ueda@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-catkin, ros-kinetic-pddl-msgs, ros-kinetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-pddl-planner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-downward, ros-kinetic-ff, ros-kinetic-ffha, ros-kinetic-lpg-planner, ros-kinetic-pddl-msgs, ros-kinetic-rospy, time
Description: pddl planner wrappers
